@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: "amiri";
  src: url("./assets/Amiri-Regular.ttf") format("truetype");
}
body {
  /* background-color: #f3f4f6; */
  font-family: "amiri", sans-serif;
}
